@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-item {
  transition: 0.2s ease-in-out;
  @apply m-0 p-4 border-l-4 cursor-pointer mb-1;

  &.active {
    @apply border-orange-500;
  }

  &.completed {
    @apply border-green-400 text-gray-600;
  }
}

.todo-item:hover {
  @apply px-5;
}

.header {
  .active {
    @apply bg-opacity-100;
  }
}

.spinnerContainer {
  margin: 20% auto;
  max-width: 15%;
}

html,
body {
  height: 100%;
}

body {
  @apply p-8 sm:p-16 bg-gray-800 text-white;
}

.search-input {
  color: white;

  &::placeholder {
    color: white;

  }

  &:focus {
    outline: none;
  }
}